# Python CircleCI 2.0 configuration file
version: 2
jobs:
  test:
    docker:
      - image: circleci/python:3.7.9
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          key: test-dependencies-v2-{{ checksum "scripts/requirements.txt" }}
      - run:
          name: Install Python dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r scripts/requirements.txt
      - save_cache:
          key: test-dependencies-v2-{{ checksum "scripts/requirements.txt" }}
          paths:
            - ./venv
      - run:
          name: Check data
          command: |
            . venv/bin/activate
            python3 scripts/check_data.py
  build:
    docker:
      - image: circleci/python:3.7.9
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          key: test-dependencies-v1-{{ checksum "scripts/requirements.txt" }}
      - run:
          name: Install Python dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r scripts/requirements.txt
      - save_cache:
          key: test-dependencies-v1-{{ checksum "scripts/requirements.txt" }}
          paths:
            - ./venv
      - run:
          name: Build data
          command: |
            . venv/bin/activate
            python3 scripts/build_data.py
      - persist_to_workspace:
          root: ~/repo
          paths:
            - _site
  deploy_staging:
    docker:
      - image: circleci/python:3.7.9
    working_directory: ~/repo
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "c9:b5:01:08:f1:27:30:8c:6d:f6:12:5c:7b:b5:17:e3"
      - attach_workspace:
          at: /tmp/build
      - run:
          name: Deploy to Github
          command: bash scripts/deploy/circleci/deploy_staging.sh
  deploy_prod:
    docker:
      - image: circleci/python:3.7.9
    working_directory: ~/repo
    steps:
      - checkout
      - add_ssh_keys:
          finterprints:
            - d9:24:dc:06:f0:8e:de:d1:09:41:a4:4f:47:60:e1:92
            #- "3c:5f:15:ca:39:2b:c5:bd:70:4a:ea:c4:ba:8d:45:d2"
      - attach_workspace:
          at: /tmp/build
      - run:
          name: Deploy to production Github
          command: bash scripts/deploy/circleci/deploy_prod.sh
workflows:
  version: 2
  build-deploy:
    jobs:
      - test:
          filters:
            branches:
              ignore:
                - gh-pages
      - build:
          requires:
            - test
          filters:
            branches:
              only:
                - develop
                - master
      - deploy_staging:
          requires:
            - build
          filters:
            branches:
              only: develop
      - deploy_prod:
          requires:
            - build
          filters:
            branches:
              only: master
